.missions-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgba(175,175,175,0.15);
  padding: 20px;
  border-radius: 10px;
}

.missions-container h2 {
  margin: 0;
}