*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  font-weight: lighter;
}

html {
  height: 100vh;
  background-image: url('./assets/main-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0px 40px 40px 40px;
  background-color: black;
}

html div {
  padding-bottom: 15px;
}