*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('./assets/main-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}